/* Utilities */
.pt1 {padding-top: 10px !important; display: block; overflow: hidden;}
.pt2 {padding-top: 20px !important; display: block; overflow: hidden;}
.pt3 {padding-top: 30px !important; display: block; overflow: hidden;}
.pt4 {padding-top: 40px !important; display: block; overflow: hidden;}
.pt5 {padding-top: 50px !important; display: block; overflow: hidden;}
.pt6 {padding-top: 60px !important; display: block; overflow: hidden;}
.pt7 {padding-top: 70px !important; display: block; overflow: hidden;}
.pt8 {padding-top: 80px !important; display: block; overflow: hidden;}
.pt9 {padding-top: 90px !important; display: block; overflow: hidden;}
.pt10 {padding-top: 100px !important; display: block; overflow: hidden;}
.pb1 {padding-bottom: 10px !important; display: block; overflow: hidden;}
.pb2 {padding-bottom: 20px !important; display: block; overflow: hidden;}
.pb3 {padding-bottom: 30px !important; display: block; overflow: hidden;}
.pb4 {padding-bottom: 40px !important; display: block; overflow: hidden;}
.pb5 {padding-bottom: 50px !important; display: block; overflow: hidden;}
.pb6 {padding-bottom: 60px !important; display: block; overflow: hidden;}
.pb7 {padding-bottom: 70px !important; display: block; overflow: hidden;}
.pb8 {padding-bottom: 80px !important; display: block; overflow: hidden;}
.pb9 {padding-bottom: 90px !important; display: block; overflow: hidden;}
.pb10 {padding-bottom: 100px !important; display: block; overflow: hidden;}

.img-fluid {width: 100%; max-width: 100%; height: auto;}

.text-end {text-align: right;}
.text-start {text-align: left;}
.text-center {text-align: center;}

.bg-danger {background-color: #b41717; color: #ffffff}
.bg-sucess {background-color: #33810d; color: #ffffff;}
.bg-info {background-color: #bae3a6; color: #222;}

.section.discount {
	display: block;
}
.section.discount:last-of-type {
   border-bottom: none;
}
.section.discount h3, .section.stories h3, .section.people h3 {
     font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
     text-transform: uppercase;
     font-weight: 700;
     text-decoration: none;
     font-size: 36px;
     line-height: 1.15;
     color: #223680;
     padding: 0;
     margin: 0px 0px 6px 0px;
}
.section.discount h3 span, .section.stories h3 span, .section.people h3 span {
     color: #999999;
}


@media screen and (max-width: 760px) {

.section.discount h3, .section.stories h3, .section.people h3 {
     font-size: 22px;
}

}

.section.discount p, .section.stories p, .section.people p, .tiles.visnav p {
     font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
     font-weight: 400 !important;
     text-decoration: none !important;
     font-size: 18px !important;
     line-height: 1.65 !important;
     color: #333333 !important;
     padding: 0 !important;
     margin: 18px 0px !important;
}

.section.discount ol h4, .section.stories ol h4, .section.people ol h4 {
   font-size: 1.15rem;
   padding: 0.35rem 0rem;
}

.section.stories {margin: 0 0 0rem 0;}
.section.stories p, .section.stories h4, .section.people h4  {text-align: left; }
.section.people span.years {margin: 0px; padding: 0px; font-size: 14px;}
.section.stories img, .section.people img {width: 100% !important}
.section.stories hr, .section.people hr {color: #ccc; height: 1px; width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: #ccc;
        border: 0 none;}
section.people h4 {margin: 0px !important;
    padding: 0px !important;
    font-size: 16px !important;
    line-height: 1.25 !important;
font-weight: bold !important;
color: #000 !important;}

.tiles {
    margin: 0rem 0rem 0rem 0rem !important;
}
	
.tiles.visnav .tile {
   position: relative;
   margin: 0rem 1% 20px 1%;
   background-color: #FFFFFF;

}

.tiles.story .tile {
   position: relative;
   margin: 0rem 1% 2rem 1%;
   background-color: #FFFFFF;
   border-top: 0px solid #0D3B5E;
	text-align: left !important;

box-shadow: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
}


.tiles.visnav .tile img {
   position: relative;
   z-index: 5;
   margin: 0 auto;
   width: 100%;
   height: auto;
}

.tiles.visnav .tile .button {
        font-size: 12px;
        padding: 10px 18px;

        position: absolute;
	bottom: -25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tiles.visnav .visnav_inside {
   position: relative;
   padding: 1.65rem 1.65rem 2.65rem 1.65rem;
   display: block;
   /*margin-top: 1.65rem;*/
}

.tiles.visnav h4, .section.people h4{
   text-align: center;
   font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
   text-transform: uppercase;
   font-weight: 700;
   text-decoration: none;
   font-size: 1.35rem;
   line-height: 1.15;
   color: #223680;
   padding: 0;
   margin: 0px 0px 12px 0px;
   /*letter-spacing: 1px;*/
}

.tiles .offer-status {padding: 5px; font-size: 14px;}


.section.people h4 {padding: 0px; margin: 0px 0px 5px 0px;}
.section.people h4 {text-align: left !important;}
.tiles.visnav h4 span, .section.people h4 span {
   font-size: 1rem;
   text-transform: none;
   color: #999999;
   display: block;
   margin-top: 0.35rem;
}
.tiles.visnav h4 small {
   display: block;
   text-transform: none;
   font-weight: 400;
   text-decoration: none;
   font-size: 1.15rem;
   line-height: 1.15;
   color: #999999;
}
.tiles.visnav h4 small:before {
   content: 'By ';
}


@media screen and (max-width: 760px) {

.tiles.visnav h4 {
   font-size: 22px;
}
.tiles.visnav h4 small {
   font-size: 16px;
}

}

@media screen and (max-width: 1024px) {

div.tiles.four-across div.tile {width: 31% !important;;}

}

@media screen and (max-width: 768px) {

div.tiles.four-across div.tile {width: 48% !important;}

}
	
@media screen and (max-width: 480px) {

div.tiles.four-across div.tile {width: 99% !important; }

}



















/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.60);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  max-width: 565px;
}

/* Modal Header */
.modal-header {
  padding: 12px 18px;
  background-color: #EEEEEE;
}
.modal-header h3 {
  margin: 0;
}
.modal-header p {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
     font-weight: 400 !important;
     text-decoration: none !important;
     font-size: 18px !important;
     line-height: 1.65 !important;
     color: #333333 !important;
     padding: 0 !important;
     margin: 18px 0px !important;
}
/* Modal Body */
.modal-body {padding: 18px 35px;}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffea00 0%,
    #ff8a00 29%,
    #ff4e00 67%,
    #ffea00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



